---
title: Home
layout: default
---


{% assign cards_pre = site.timeline | sort 'date'  %}
{% assign cards_ed = site.timeline_ed | sort 'date'  %}

<section id="timeline_pre" class="vspace">
  <div class="container">

    <div class="narrative-heading">
      Leaving for Edinburgh
    </div>
    
    <div class="timeline">
      <div class="timeline-line arrow-bottom">
        <div class="timeline-complete"  id="timelineOne">
        </div>
      </div>

      {% for card in cards_pre %}
      
      <!-- Add class 'complete' to mark complete -->
      <div class="timeline-block {% cycle '', 'block-right' %}">
        <a class="timeline-dot clickable" href="#">
          
              {% if card.icon %}
              <i class="fa fa-{{ card.icon }} timeline-card-icon"></i>
              {% else %}
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              {% endif %}
        </a>
        <div class="timeline-content zshadow_1">
          {% if card.image %}
          <img src="{{ site.baseurl }}/img/{{ card.image }}" class="img-responsive">
          {% endif %}
          <h1>{{ card.name }}</h1>
          <article>

            {% if card.warn %}
            <div class="timeline-warn">{{ card.warn }}</div>
            {% endif %}

            {{ card.content }}
          </article>
        </div>
      </div>

      {% endfor %}

    </div><!-- .timeline -->
  </div>
</section>

<div class="vspace container-fluid">

  <div class="row no-gutter map-hero">

    <div class="col-lg-8
                col-md-6">
      <div id="campusmap"></div>
      <script src="{{ site.baseurl }}/js/maps.js" type="text/javascript"></script>
    </div>

    <div class="col-lg-4 
                col-md-6">
      <div class="padder">
        
        <div class="padder card zshadow_1">
          <h1 class="serif">Fresher's Week</h1>
	  
          <hr>
          
          <p>
	    A week of events put on by the University and by the Student's Associationfor new &amp; 
            returningstudents. Located in the university's central campus, the School's Appleton Tower 
            and Informatics Forum play host to a range of events tailored to incoming Informatics students.
	    <br><br>
	    The central campus is a short walk from <em>Pollock Halls</em>, which sits at the foot 
            of Arthur's Seat.
          </p>
        </div>
      </div>
    </div>

    
  </div><!-- /.row -->
</div><!-- /.container -->

<!--div class="colourback center">
  <div class="container">
    <h1 class="epoch">Fresher's Week</h1>
  </div>
</div-->



<section id="timeline_ed" class="vspace">
  <div class="container">

    <div class="narrative-heading">
      Semester Begins, 10<small>th</small> Sept
    </div>
    
    <div class="timeline">
      <div class="timeline-line">
        <div class="timeline-complete" id="timelineTwo">
        </div>
      </div>
      
      <!-- {% cycle '', 'block-right' %} -->
      {% for card in cards_ed %}
      
      <!-- Add class 'complete' to mark complete -->
      <div class="timeline-block {% cycle '', 'block-right' %}">
        <a class="timeline-dot clickable" href="#">
          
              {% if card.icon %}
              <i class="fa fa-{{ card.icon }} timeline-card-icon"></i>
              {% else %}
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              {% endif %}
        </a>
        {% if card.time %}
        <div class="timeline-time">{{ card.time }}</div>
        {% endif %}
        <div class="timeline-content zshadow_1">
          {% if card.image %}
          <img src="{{ site.baseurl }}/img/{{ card.image }}" class="img-responsive">
          {% endif %}
          
          <h1>{{ card.name }}</h1>
          
          <article>
            {% if card.warn %}
            <div class="timeline-warn">{{ card.warn }}</div>
            {% endif %}
        
            {{ card.content }}
          </article>
        </div>
      </div>

      {% endfor %}

    </div><!-- .timeline -->
    <br>
    <div class="narrative-heading">
      Semester 1 Ends 21st December
    </div>
    <div class="narrative-heading muted">
      (Semester 2 runs from 11th Jan to 26 May 2017)
    </div>
  </div>
</section>





{% include modals.html %}

