

<div class="hero-wrap">
  <header class="mainhead zshadow_1">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img src="{{ site.baseurl }}/img/informatics_logo.png" class="mainlogo">
          </a>
        </div>

        <div class="nav navbar-right">
        </div>

      </div><!-- /.container -->
    </nav>
  </header>

  <div class="container vspace">

    <div class="row" style="position: relative; bottom: 0;">
      <div class="col-lg-4 col-lg-offset-8 
                  col-md-6 col-md-offset-6
                  col-sm-8 col-sm-offset-4">
        <div class="vspace zshadow_1 card padder">
          <h1 class="serif center">New Student's Guide</h1>

          <hr>
          
          <p>
            Nullam commodo lacus enim, at tincidunt ipsum tempus a. Nunc venenatis placerat augue ac tristique. Donec dapibus condimentum porta. Phasellus euismod pretium est, eget consectetur mi tempor vel. Ut convallis quis tortor et sagittis. Maecenas ullamcorper nisi nec lacus pulvinar, ac ultricies tortor vestibulum. Nullam in nisl tristique, dignissim nunc vel, vulputate tellus. Quisque lacinia nisi orci. Sed tortor nulla, aliquam sed finibus et, faucibus quis augue.
          </p>

          <hr>

          <img src="{{ site.baseurl}}/img/logo.png" class="img-responsive" 
               style="max-height: 2.5em; margin: 0 auto; margin-bottom: 0.25em;">
        </div>
      </div>

      
    </div><!-- /.row -->
  </div><!-- /.container -->


</div><!-- /.hero-wrap -->
